<h1 style="color: #5e9ca0;"><span style="color: #008000;">Kwekerij Culinair - Jouw boom online</span></h1>
<h2 style="color: #2e6c80;"><span style="color: #000000;">BoomID: {{ p.IDNr }} Soort: {{ p.Genus }} {{ p.Species }} {{ p.Cultivar }}</span><br /><br /><span style="color: #000000;">Komt van {{ p.From_where }}</span></h2>
<h2 style="color: #2e6c80;"><span style="color: #000000;">(Ge&euml;nt op {{ p.Date_grafted }} / gezaaid op {{ p.Date_seeded }})</span></h2>
<p>Wikipedia pagina met meer info: <a href="http://en.wikipedia.org/wiki/{{ p.Genus }}_{{ p.Species }}">http://en.wikipedia.org/</a></p>
<p>&nbsp;</p>
<p>Naar <a href="https://kwekerijculinair.nl">Kwekerij Culinair</a>!</p>
<p><a href="https://kwekerijculinair.nl"><img src="https://www.kwekerijculinair.nl/p/logo.png" alt="" width="160" height="248" /></a></p>
